# Specify your credentials accordingly
[GCP]
HOST_NAME        = <host_name>
USERNAME         = kennedy
PASSWORD         = <password>
CREDENTIAL_PATH  = <path-to-gcp-credential>
BUCKET_NAME      = stfp-bucket-test
PROJECT_ID       = My First Project
